<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{forget.title}"></title>


    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- App CSS -->
    <link type="text/css" th:href="@{/css/app.css}" rel="stylesheet">
<!--    <link type="text/css" th:href="@{/css/app.rtl.css}" rel="stylesheet">-->

<!--    &lt;!&ndash; Simplebar &ndash;&gt;-->
<!--    <link type="text/css" th:href="@{/vendor/simplebar.css}" rel="stylesheet">-->
</head>

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-has-scrolling-region>
        <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable" style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">


            <div class="container h-vh d-flex justify-content-center align-items-center flex-column">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h2 class="ml-2 text-bg mb-0"><strong th:text="#{login.tip}"></strong></h2>
                </div>
                <div class="w-100">
                    <div class="card card-forgot-password mx-auto">
                        <div class="card-body">
                            <div class="form-group">
                                <label th:text="#{forget.email.tip}"></label>
                                <div class="input-group input-group--inline">
                                    <div class="input-group-addon">
                                        <i class="material-icons">account_circle</i>
                                    </div>
                                    <input type="text" class="form-control" name="email" th:placeholder="#{forget.email.address}">
                                </div>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/login.html}" class="btn btn-primary" th:text="#{forget.email.btn}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 多语言 -->
                <br/>
                <div class="d-flex justify-content-center">
                    <a id="zh_CN" th:href="@{forgot-password(language='zh_CN')}" class="ml-auto">中文</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="en_US" th:href="@{forgot-password(language='en_US')}" class="ml-auto">English</a>
                </div>
            </div>


        </div>
    </div>

    <script>
        (function() {
            'use strict';

            // Self Initialize DOM Factory Components
            domFactory.handler.autoInit();
        });
    </script>
</body>

</html>